<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gymbeam_casestudy>
            <general>
                <greeting>Hello! My greetings to you :)</greeting>
            </general>
        </gymbeam_casestudy>
    </default>
</config>
